
<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a  routerLink="" href="#" class="brand-logo"> To-Do </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active" ><a routerLink="listas" >Listas</a></li>
      <li routerLinkActive="active" ><a routerLink="agenda" >Agenda</a></li>
      <li routerLinkActive="active" ><a (click)="fazerLogOut()" >Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
